.selectBtn {
  font-size: 18px;
  font-weight: 600;
  width: 151px;
  height: 152px;
  margin: 6px;
  border-radius: 40px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background-color: white;
  color: #555555;
}

.clicked {
  background: #ffffff;
  color: #555555;
  font-size: 18px;
  font-weight: 600;
  width: 151px;
  height: 152px;
  margin: 6px;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid #ff4b4b;
}
