.wrapper {
  position: relative;
  height: 100%;
  margin: 0px;
  width: 414px;
  overflow: hidden;
  background-color: #fafafa;
}

@media (min-width: 420px) {
  .wrapper {
    position: relative;
    height: 100%;
    width: 414px;
    margin: 0px;
    overflow: hidden;
  }
}

.formWrapper {
  display: flex;
  height: 90%;
  transition: transform 0.3s ease 0.1s;
}

* {
  font-family:
    'Pretendard Std Variable',
    'Pretendard Std',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  /* font-weight: 400; */
}

@font-face {
  font-family:
    'Pretendard Std Variable',
    'Pretendard Std',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  src: url('../../../../assets/Pretendard-Black.woff');
}
