.selectBtn {
  font-size: 18px;
  font-weight: 600;
  width: 151px;
  height: 152px;
  /* height: 184px; */
  aspect-ratio: 1;
  margin: 6px;
  border-radius: 40px;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background-color: white;
  color: #333333;
  padding-bottom: 1vh;
  line-height: 152px;
}

.clicked {
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  font-weight: 600;
  width: 151px;
  height: 152px;
  /* height: 184px; */
  aspect-ratio: 1;
  margin: 6px;
  border-radius: 40px;
  cursor: pointer;
  border: 3px solid #ff4b4b;
  padding-bottom: 1vh;
  line-height: 152px;
}
