/* 데스크탑 */
@media (min-width: 670px) {
  .informContainer {
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.2vh;
  }

  .divBox {
    border: 1px solid #ff7474;
    font-weight: 600;
    width: 35vh;
    height: 5.5vh;
    display: flex;
    align-items: center;
    padding: 2vh;
    border-radius: 12px;
    font-size: 1em;
    color: #555555;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
    background-color: #ffffff;
  }
  .titleContainer {
    margin-bottom: 1vh;
  }
  .font {
    font-weight: bold;
    font-size: 1em;
  }
}
/* 모바일 */
@media (max-width: 670px) {
  .informContainer {
    width: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
  }

  .divBox {
    border: 1px solid #ff7474;
    font-weight: 600;
    width: 35vh;
    height: 6.5vh;
    display: flex;
    align-items: center;
    padding: 2vh;
    border-radius: 12px;
    font-size: 1em;
    color: #555555;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
    background-color: #ffffff;
  }
  .titleContainer {
    margin-bottom: 1.3vh;
  }
  .font {
    font-weight: bold;
    font-size: 1em;
  }
}
