.inputText{
    width: 335px;
    height: 56px;
    padding-left: 20px; 
    border: 1px solid #666;
    border-radius: 30px; 
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-bottom: 18px;
}