/* src/components/ConfirmModal.module.css */
.modalOverlay {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.cancelButton,
.confirmButton {
  width: 120px;
  padding: 12px 10px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  color: #FFFFFF;
  font-size: 17px;
  font-weight: 600;
}

.cancelButton {
  background-color: #ddd;
}

.confirmButton {
  background-color: #ff4b4b;
  color: white;
}
