.progressBarWrapper{
    height: 6%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FAFAFA;
    z-index: 2;
    align-items: center;
}
.test{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
}
@media (min-width: 420px){
    .test{
        display: flex;
        width: 414px;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
    }
}

@media (max-height: 670px) {
    .progressBarWrapper {
        height: 7.5%;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.controllerWrapper{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.controller_next {
    height: 4vh;
    width: 17vw;
    margin: 3vw;
    border: 1px solid #FF3838;
    border-radius: 25px;
    background-color: #FF3838;
    font-size: 0.8rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
}
.controller_next_none {
    height: 4vh;
    width: 17vw;
    margin: 3vw;
    border: 1px solid #FF3838;
    border-radius: 25px;
    background-color: #FF3838;
    font-size: 0.8rem;
    font-weight: bold;
    color: #FFFFFF;
    cursor: pointer;
    opacity: 0.5;
}
.controller_prev{
    height: 4vh;
    width: 17vw;
    margin: 3vw;
    border: 2px solid #FF3838;
    border-radius: 25px;
    background-color: transparent;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
}

.submitBtn{
    height: 32px;
    width: 52px;
    margin: 0px 20px;
    padding: 0px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #FF3838;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}

.barWrapper{
    width: 100%;
    height: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.progress{
    width: 19%;
    height: 100%;
    background-color: #ccc;
}