.inputText {
  width: 330px;
  height: 48px;
  border-radius: 35px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  color: #666666;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  margin-left: 2.5px;
}
.inputText:active {
  border: 1px solid #ff3838;
}

.majorbox {
  width: 335px;
  height: 48px;
  border-radius: 35px;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  color: #666666;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.emailBtn {
  width: 68px;
  height: 40px;
  border-radius: 35px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
  right: 2.5%;
  position: absolute;
  transform: translateY(10%);
  background-color: #ff3838;
  cursor: pointer;
}
.emailCheckBtn {
  width: 68px;
  height: 40px;
  border-radius: 35px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  z-index: 3;
  right: 2.5%;
  position: absolute;
  transform: translateY(10%);
  background-color: #e5e5e5;
  cursor: pointer;
}
.relative {
  position: relative;
}
.emailContainer {
  margin: 6px 0px;
}
