.submitBtn {
    width: 343px;
    height: 52px;
    background-color: #ff4b4b;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
}
.submitBtn_notReady {
    width: 343px;
    height: 52px;
    background-color: #E5E5E5;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 18px;
    font-weight: 700;
}