.submitBtn,
.submitBtn_notReady {
  width: 100%;
  height: 52px;
  background-color: #ff4b4b;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 28px;
  font-size: 1.7vh;
  font-weight: 700;
}
.submitBtn:hover {
  cursor: pointer;
}
.submitBtn {
  background-color: #ff4b4b;
}
.submitBtn_notReady {
  background-color: #ffffff;
}
