.cnt {
  margin: 3px 0px;
}
.submitBtn {
  width: 335px;
  height: 52px;
  border-radius: 28px;
  border: none;
  background-color: #ff4b4b;
  top: 90%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0px;
}
.send {
  margin: 4px 0px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
.underline {
  text-decoration: underline;
}
