.show_id {
    width: 80%;
    height: 27%;
    border: 2px solid #E5E5E5;
    border-radius: 8px;
    color: #333333;
    font-weight:bold;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.explain_box {
    width: 100%;
    height: 20vh;
    padding: 0 10%;
    margin-bottom: 10%;
}ㅌ
.explain{
    color: #333333;
    font-size: 1.1rem;
    font-weight: 600;
}
.reset_title{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10%;
}
.explain_sub{
    color: #333333;
    font-size: 0.9rem;
    font-weight: 600;
    margin: 3% 0;
}