.selectBtn3 {
  font-size: 18px;
  font-weight: bold;
  width: 340px;
  height: 60px;
  margin: 8px;
  padding: 14px 20px;
  border-radius: 40px;
  text-align: left;
  cursor: pointer;
  border: 1px solid #e5e5e5;
  background-color: white;
  color: #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check {
  width: 20px;
  height: 11px;
}

.clicked {
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  font-weight: bold;
  width: 340px;
  height: 60px;
  margin: 8px;
  padding: 14px 20px;
  border-radius: 40px;
  text-align: left;
  cursor: pointer;
  border: 3px solid #ff4b4b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
