html {
    height: 100%;
    font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.container {
    flex-shrink: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
    background-color: #FFF7F7;
}

.titlebox{
    text-align: center;
    margin: 10px 0px 15px 0px;
}
.explain{
    font-size: 14px;
}
.title{
    margin: 30px 0px 40px 0px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.title2{
    margin: 0;
    position: absolute;
    left: 25%;
    top: 1%;
    color: #777777;
    font-size: 1rem;
}

.finaltitle{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.startPage{
    top: 90px;
}

.btn3{
    display: flex;
    flex-direction: column;
}

@media (max-height: 670px) {
    .container {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 70px;
        overflow-y: scroll;
    }
    
    .titlebox{
        text-align: center;
        margin: 0px;
    }
    .explain{
        font-size: 14px;
    }
    .title{
        margin: 20px 0px 30px 0px;
        font-size: 20px;
        font-weight: bold;
    }
    .finaltitle{
        font-size: 20px;
        font-weight: bold;
        margin: 0px;
    }
    
    
    .startPage{
        top: 90px;
    }
    
    .btn3{
        display: flex;
        flex-direction: column;
    }
}
