.flex {
  display: flex;
  width: 100%;
}

.wrapper {
  width: 335px;
}

.infoWrapper {
  width: 335px;
  height: 70px;
  margin: 8px 0px;
}

.infoWrapperHalf {
  width: 161px;
  height: 70px;
  margin: 8px 13px 8px 0px;
}

.titleWrapper {
  width: 100%;
  height: 24px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  padding-left: 4px;
  font-size: 16px;
  font-weight: bold;
}
.flex{
  display: flex;
}

.complete {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #ff4b4b;
}

.textWrapper {
  width: 335px;
  height: 40px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ff4b4b;
  background-color: #FFFFFF;
}
.textWrapper_grade{
  width: 335px;
  height: 40px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ff4b4b;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub{
  font-size: 16px;
  color: #777777;
  font-weight: 600;
}
.textWrapperHalf {
  width: 161px;
  height: 40px;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: 600;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  border: 1px solid #ff4b4b;
  background-color: #FFFFFF;
}
