@media (min-width: 768px) {
}

/* 모바일 버전 */
@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    flex-direction: column;
  }
  .container2 {
    margin-top: 3vh;
  }

  .meetingOption {
    width: 40vh;
    height: 8vh;
    border-radius: 50px;
    border: 1px solid #e5e5e5;
    display: flex;
    justify-content: space-between; /* Changed from center to space-between */
    align-items: center;
    padding: 0 30px; /* Added padding to space content from the borders */
    margin-bottom: 10px;
  }

  .meetingOption.selected {
    border: 1px solid #ff4b4b;
  }

  .navigation {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px 20px; /* 양쪽 여백 */
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* 버튼 위치 조정 */
  }

  .backButton,
  .nextButton,
  .nextButtonActive {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .backButton {
    border-radius: 25px;
    border: 1px solid var(--line_02, #e5e5e5);
    background: var(--back_02, #fff);
  }

  .nextButton {
    border-radius: 25px;
    border: 1px solid var(--line_02, #e5e5e5);
    background: var(--back_02, #ff9e9e);
    color: white;
  }

  .nextButtonActive {
    border-radius: 25px;
    background-color: #ff4b4b; /* 빨간색 */
    color: white;
  }
}
