@media (max-width: 768px) {
  .myInfo {
    position: fixed;
    top: 6vh;
    left: 5vw;
    color: #333333;
  }

  .logoutContainer {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: -5vh; */
    gap: 2vh;
    height: 100%;
  }

  .div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    width: 90vw;
    padding: 0 5vw 0 5vw;
    border-radius: 35px;
  }

  .leftFont {
    font-weight: bold;
  }

  .rightFont {
    color: #666666;
  }

  .logoutButton {
    position: fixed;
    bottom: 3vh;
    width: 90vw;
    height: 7vh;
    border: 1px solid white;
    border-radius: 35px;
    background-color: #ff3838;
  }

  .logoutFont {
    font-weight: bold;
    color: white;
  }
}

/* 데스크탑 버전 */
@media (min-width: 768px) {
  .myInfo {
    margin-left: 33vw;
    margin-top: 10vh;
    color: #333333;
  }

  .logoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }

  .div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    width: 35vw;
    padding: 0 3vw 0 3vw;
    border-radius: 35px;
  }

  .leftFont {
    font-weight: bold;
  }

  .rightFont {
    color: #666666;
  }

  .logoutButton {
    position: fixed;
    bottom: 3vh;
    width: 35vw;
    height: 7vh;
    border-radius: 35px;
    border: 1px solid white;
    background-color: #ff3838;
    color: white;
  }
}

/* 갤럭시 폴드 빡치넹*/
@media (max-width: 320px) or (max-width: 360px) {
  .myInfo {
    /* margin-top: 10vh; */
    color: #333333;
  }

  .logoutContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }

  .div1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e5e5;
    width: 95vw;
    padding: 0 3.5vw 0 3.5vw;
    border-radius: 35px;
  }

  .leftFont {
    font-weight: bold;
    font-size: 0.8em;
  }

  .rightFont {
    color: #666666;
    font-size: 0.8em;
  }

  .logoutButton {
    position: fixed;
    bottom: 3vh;
    width: 95vw;
    height: 7vh;
    border-radius: 35px;
    border: 1px solid white;
    background-color: #ff3838;
    color: white;
  }
}
@media (max-width: 768px) {
  .logoutContainer {
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10vh 0;
    gap: 2vh;
    height: 100%;
  }
}