@media (min-width: 768px) {
  .textContainer {
    width: 674px;
    height: 50vh;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
    position: relative;
  }

  .contentArea {
    width: 624px;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.7vh;
    font-weight: 500;
    padding: 16px 0;
    margin: 0 auto;
    white-space: pre-wrap;
  }
  .textLength {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 4vh;
    color: #777777;
    margin-right: 0.05vw;
    text-align: center;
    font-size: 1.7vh;
    position: absolute;
    right: 25px;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .textContainer {
    width: 100vw;
    height: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
  }

  .contentArea {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    padding: 16px;
    white-space: pre-wrap;
  }
  .textLength {
    width: 100vw;
    height: 4vh;
    color: #777777;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
