@media (min-width: 768px) {
    .textContainer {
        width: 28vw;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        border-bottom: 1px #e5e5e5 solid;
    }

    .contentArea {
        display: block;
        width: 25vw;
        height: 40vh;
        border: none;
        resize: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        padding: 16px;
        white-space: pre-wrap;
    }
    .textLength {
        width: 8vw;
        height: 4vh;
        color: #777777;
        margin-right: 0.05vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .textContainer {
        width: 100vw;
        height: 280px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #ffffff;
        border-bottom: 1px #e5e5e5 solid;
    }

    .contentArea {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        resize: none;
        outline: none;
        font-size: 15px;
        font-weight: 500;
        padding: 16px;
        white-space: pre-wrap;
    }
    .textLength {
        width: 100vw;
        height: 4vh;
        color: #777777;
        margin-right: 10vw;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}