/* 데스크탑 css */

@media (min-width: 768px) {
  .container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
    background-color: #fafafa;
  }
  .top2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
  }
  .top3 {
    color: #333;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.333px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn1 {
    font-size: 20px;
    font-weight: 700;
    width: 335px;
    height: 56px;
    margin: 8px;
    border-radius: 40px;
    background-color: #4f41de;
    border: none;
    color: white;
    cursor: pointer;
  }
  .btn2 {
    font-size: 18px;
    font-weight: 700;
    width: 335px;
    height: 52px;
    margin: 8px;
    border-radius: 40px;
    background-color: #4f41de;
    border: none;
    color: white;
    cursor: pointer;
  }

  .honbobText {
    width: 15vw;
    height: 7vh;
    margin-top: -5vh;
    margin-bottom: 5vh;
  }
  .honbobImg {
    width: 191px;
    height: 64px;
    margin-top: 120px;
  }
  .text {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
  }
  .text1 {
    color: var(--font_02, #333);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.333px;
    position: relative;
    bottom: 5vh;
    left: 4vw;
    margin: 0;
  }
  .text2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
  }
  .text3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #4f41de;
  }

  .text4 {
    color: #4f41de;
    text-align: center;
    font-family: Jalnan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -0.333px;
  }

  .flex {
    display: flex;
    align-items: center;
    width: auto;
  }
  .logo {
    width: 32px;
    height: 32px;
  }
  .title {
    font-size: 24px;
    color: #4f41de;
    font-weight: 800;
    margin: 8px 5px;
  }

  .wrapper {
    width: 310px;
  }

  .back {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
/* //////////////////////////////////////////////////////////////// */

/* 모바일 css */
@media (max-width: 768px) {
  .container {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 85%;
    justify-content: space-between;
    background-color: #fafafa;
  }
  .top2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: center;
  }
  .top3 {
    color: #333;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.333px;
  }
  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .btn1 {
    font-size: 20px;
    font-weight: 700;
    width: 335px;
    height: 56px;
    margin: 8px;
    border-radius: 40px;
    background-color: #4f41de;
    border: none;
    color: white;
    cursor: pointer;
  }
  .btn2 {
    font-size: 18px;
    font-weight: 700;
    width: 335px;
    height: 52px;
    margin: 8px;
    border-radius: 40px;
    background-color: #4f41de;
    border: none;
    color: white;
    cursor: pointer;
  }

  .honbobText {
    width: 60vw;
    height: 8vh;
    margin-top: -8vh;
  }
  .honbobImg {
    width: 191px;
    height: 64px;
    margin-top: 120px;
  }
  .text {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
  }
  .text1 {
    color: var(--font_02, #333);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    letter-spacing: -0.333px;
    position: relative;
    bottom: 7vh;
    left: 16vw;
  }
  .text2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #333333;
  }
  .text3 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: #4f41de;
  }

  .text4 {
    color: #4f41de;
    text-align: center;
    font-family: Jalnan;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; /* 133.333% */
    letter-spacing: -0.333px;
  }

  .flex {
    display: flex;
    align-items: center;
    width: auto;
  }
  .logo {
    width: 32px;
    height: 32px;
  }
  .title {
    font-size: 24px;
    color: #4f41de;
    font-weight: 800;
    margin: 8px 5px;
  }

  .wrapper {
    width: 310px;
  }

  .back {
    font-size: 16px;
    font-weight: 600;
    color: #999999;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}
