@media (min-width: 768px) {
  .modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    width: 100vw;
    max-height: 100px;
    background-color: #ffffff;
    border-radius: 16px 16px 0px 0px;
    position: fixed;
    overflow: scroll;
    bottom: 0;
    z-index: 100;
    padding-bottom: 20px;
    height: auto;
  }

  .animate {
    max-height: 500px;
    transition: max-height 0.2s ease-in-out;
  }

  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.35);
  }
}

@media (max-width: 768px) {
  .modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  .container {
    width: 100vw;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 16px 16px 0px 0px;
    position: fixed;
    overflow: scroll;
    bottom: 0;
    z-index: 100;
    padding-bottom: 20px;
  }

  .animate {
    max-height: 500px;
    transition: max-height 0.2s ease-in-out;
  }

  .backdrop {
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0.35);
  }
}
