.container {
  width: 100%;
  height: 40vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  height: 18%;
  display: flex;
  align-items: center;
  padding: 0 5%;
  border-bottom: 1px solid #e5e5e5;
}
.header span {
  font-size: 1.3rem;
  color: #111111;
  font-weight: 600;
}

.filter_wrapper {
  width: 100%;
  height: 60%;
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter_check_wrapper {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter_check_wrapper p {
  font-size: 1.1rem;
  color: #111111;
  font-weight: 600;
  margin: 0;
}
.filter_check_wrapper div {
  width: 28px;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #c5c5c5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check {
  width: 14px;
  height: 10px;
}

.finish {
  width: 90%;
  height: 17%;
  background-color: #ff4b4b;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish span {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 600;
}

.finish_n {
  width: 90%;
  height: 17%;
  background-color: #e5e5e5;
  border-radius: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.finish_n span {
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 600;
}
