@media (min-width: 768px) {
  .ready {
    width: 105%;
    height: 30vh;
    margin-top: 2vh;
  }
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    background-color: #fff7f7;
    width: 100vw;
    height: 90vh;
  }
  .wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .useImg {
    width: 343px;
    height: 112px;
    flex-shrink: 0;
    cursor: pointer;
  }

  .btn1 {
    width: 166px;
    height: 160px;
    flex-shrink: 0;
  }
  .btn2 {
    margin-top: 112px;
    border: none;
    background-color: #ffffff;
    width: 12vw;
    height: 12vw;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
  }

  .festButton {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 7px;
    background-color: white;
    height: 204px;
    width: 343px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    margin-top: 2vh;
  }
  .festButton {
    width: 351px;
    height: 204px;
    background-image: url('../../../Assets/image/Festival.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    gap: 7px;
  }

  .festButton2 {
    margin-top: 144px;
    width: 152px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid var(--line_02, #e5e5e5);
    color: var(--font_01, #111);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.333px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .studyBtn {
    /* width: 25vw; */
    height: 25vh;
    margin-top: 2vh;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    background-image: url('../../../Assets/image/ready.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    cursor: pointer;
  }

  .sejongStudy2 {
    width: 6vw;
    height: 2.5vh;
    margin-left: 1vw;
  }

  .more {
    font-size: 20px;
    font-weight: bold;
    width: 335px;
    height: 56px;
    margin: 8px;
    padding: 14px 20px;
    border-radius: 40px;
    background-color: #ff4b4b;
    border: none;
    color: white;
    margin-top: 20px;
  }

  .footer {
    width: 100%;
    height: 3vh;
    position: relative;
    top: 15%;
    padding: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .report_user_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 344px;
    height: 40px;
    gap: 3%;
    font-size: 0.9rem;
    color: #333333;
    font-weight: 700;
    margin-top: 2vh;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
  }

  .report_user_box img {
    width: 70%;
    height: 70%;
  }

  .reprot_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid #e5e5e5; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftxt {
    font-size: 12px;
    color: #999999;
    text-align: center;
    text-decoration-line: none;
  }
}

/* 모바일 css */
@media (max-width: 768px) {
  .ready {
    width: 90vw;
    height: 25vh;
    margin-top: 2vh;
  }
  .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
    position: relative;
    top: 23%;
    padding: 0 3vw;
  }

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    background-color: #fff7f7;
    width: 100vw;
    height: 85vh;
  }

  .useImg {
    width: 90vw;
    height: 15vh;
    cursor: pointer;
  }
  .slider {
    overflow: hidden;
    position: relative;
  }

  .useImg {
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
  }
  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .slideIn {
    transform: translateX(0);
  }

  .slideOut {
    transform: translateX(-100%);
  }
  .slide-in {
    animation: slideIn 1s forwards;
  }

  .slide-out {
    animation: slideOut 1s forwards;
  }

  .btn {
    margin-top: 112px;
    border: none;
    background-color: #ffffff;
    width: 42vw;
    height: 42vw;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
    margin-right: 1vw;
  }

  .btn1 {
    /* background-color: #ffffff; */
    cursor: pointer;
    width: 43vw;
  }

  .btn2 {
    background-color: #ffffff;
    cursor: pointer;
    width: 20vh;
  }

  .festButton {
    width: 351px;
    height: 204px;
    background-image: url(http://localhost:3000/static/media/Festival.bee2265c0dee8bfe93f1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border: 1px solid #e5e5e5;
    border-radius: 15px;
    gap: 7px;
  }

  .festButton2 {
    margin-top: 144px;
    width: 152px;
    height: 44px;
    border-radius: 8px;
    border: 1px solid var(--line_02, #e5e5e5);
    color: var(--font_01, #111);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.333px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .studyBtn {
    width: 90vw;
    height: 25vh;
    margin-top: 2vh;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    background-image: url('../../../Assets/image/ready.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .more {
    font-size: 20px;
    font-weight: bold;
    width: 335px;
    height: 56px;
    margin: 8px;
    padding: 14px 20px;
    border-radius: 40px;
    background-color: #ff4b4b;
    border: none;
    color: white;
    margin-top: 20px;
  }

  .report_user_box {
    width: 100%;
    display: flex;
    /* flex-direction: row; */
    background-color: white;
    width: 90vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-size: 0.8rem;
    color: #333333;
    font-weight: 700;
    margin-top: 5vh;
  }

  .report_user_box img {
    width: 70%;
    height: 70%;
  }

  .reprot_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 2px solid #e5e5e5; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftxtBox {
    width: 100%;
    margin-left: 5vw;
  }

  .ftxt {
    font-size: 12px;
    color: #999999;
    text-align: center;
    text-decoration-line: none;
  }
}

@media (max-width: 376px) {
  .ready {
    width: 90vw;
    height: 25vh;
    margin-top: 2vh;
  }
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
    background-color: #fafafa;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    position: relative;
    padding: 0 3vw;
    top: 5%;
  }

  .btn {
    border: none;
    background-color: #ffffff;
    width: 335px;
    height: 216px;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
  }

  .report_user_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    font-size: 0.8rem;
    color: #333333;
    font-weight: 700;
    margin-top: 1vh;
  }
}
