/* 데스크탑 */
@media (min-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .innerConatiner {
    width: 28vw;
    height: 100vh;
    background-color: rgb(245, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 14vh;
  }

  .header {
    width: 28vw;
    height: 7vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .leftBox {
    width: 10vw;
    height: 5vh;
    display: flex;
    margin-left: 1vw;
    align-items: center;
  }

  .cancelBtn {
    width: 3vh;
    height: 3vh;
  }

  .textImgWrapper {
    width: 12vh;
    height: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vh;
  }

  .textImg {
    width: 12vh;
    height: 2.5vh;
  }

  .rightBox {
    width: 7vw;
    height: 5vh;
    display: flex;
    margin-right: 1vw;
    align-items: center;
    /* justify-content: center; */
  }

  .addpostText {
    width: 10.5vh;
    height: 4.5vh;
    font-size: 1vw;
    border: none;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  .imgAddWrapper {
    width: 4.5vh;
    height: 4.5vh;
    border: none;
    background-color: transparent;
  }

  .imgAdd {
    width: 4.5vh;
    height: 4.5vh;
  }

  .contentContainer {
    width: 28vw;
    height: 83vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
  }

  .topBox {
    width: 28vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }

  .titleBox,
  .periodBox,
  .personNumBox {
    width: 28vw;
    height: 5vh;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .periodWrapper,
  .personNumWrapper {
    width: 25vw;
    height: 4.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleInput {
    border: none;
    height: 4.5vh;
    width: 25vw;
    font-size: 2vh;
    display: flex;
    align-items: center;
    outline: none;
  }

  .period,
  .personNum {
    border: none;
    height: 4.5vh;
    width: 23vw;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .arrowImg {
    width: 4vh;
    height: 4vh;
  }

  .middleBox {
    width: 28vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
  }

  .contentArea {
    display: block;
    width: 27vw;
    height: 40vh;
    border: none;
    resize: none;
    outline: none;
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 500;
  }

  .textLength {
    width: 27vw;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    color: #777777;
  }

  .bottomBox {
    width: 28vw;
    height: 18vh;
    background-color: #ffffff;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .openChatBox,
  .tagBox {
    border-bottom: 1px #e5e5e5 solid;
  }

  .openChatBox {
    display: flex;
    justify-content: center;
    width: 28vw;
    height: 12vh;
    flex-direction: column;
    align-items: center;
  }

  .innerOpenChatBox {
    width: 27vw;
    height: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .openChatText {
    font-size: 1.8vh;
    color: red;
    width: 26vw;
    height: 4.5vh;
  }

  .openChatInput {
    width: 26vw;
    height: 4.5vh;
    font-size: 2vh;
    border: none;
    outline: none;

  }

  .tagBox {
    width: 28vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tagInput {
    width: 26vw;
    height: 5vh;
    font-size: 1.8vh;
    border: none;
    outline: none;
  }

  .postConainer {
    width: 28vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* position: fixed;
    top: 90vh; */
    margin-top: 1vh;
  }

  .postBtn {
    width: 30vw;
    height: 6vh;
    background-color: #ff3838;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 2vh;
    font-weight: 600;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .innerConatiner {
    width: 100vw;
    height: 100vh;
    background-color: rgb(245, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 14vh;
  }

  .header {
    width: 100vw;
    height: 7vh;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* gap: 20%; */
  }

  .leftBox {
    display: flex;
    align-items: center;
    height: 5vh;
    display: flex;
    gap: 5%;
  }

  .cancelBtn {
    width: 3vh;
    height: 3vh;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textImgWrapper {
    width: 15vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textImg {
    width: 15vh;
    height: 3.5vh;
  }

  .rightBox {
    width: 25vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addpostText {
    width: 9vh;
    height: 4.5vh;
    font-size: 3.5vw;
    border: none;
    background-color: transparent;
    font-weight: 600;
    display: flex;
    align-items: center;

  }

  .imgAddWrapper {
    width: 4.5vh;
    height: 4.5vh;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  .contentContainer {
    width: 100vw;
    height: 83vh;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 1vh;
  }

  .topBox {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
  }

  .titleBox,
  .periodBox,
  .personNumBox {
    width: 100vw;
    height: 5vh;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .periodWrapper,
  .personNumWrapper {
    width: 80vw;
    height: 4.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleInput {
    border: none;
    height: 4.5vh;
    width: 82vw;
    font-size: 2vh;
    display: flex;
    align-items: center;
    outline: none;
  }

  .period,
  .personNum {
    border: none;
    height: 4.5vh;
    width: 78vw;
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .arrowImg {
    width: 4vh;
    height: 4vh;
  }

  .middleBox {
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1vh;
    background-color: #ffffff;
    border-bottom: 1px #e5e5e5 solid;
  }

  .contentArea {
    display: block;
    width: 82vw;
    height: 40vh;
    border: none;
    resize: none;
    outline: none;
    margin-top: 1vh;
    font-size: 2vh;
    font-weight: 500;
  }

  .textLength {
    width: 82vw;
    height: 4vh;
    display: flex;
    justify-content: flex-end;
    color: #777777;
  }

  .bottomBox {
    width: 100vw;
    height: 18vh;
    background-color: #ffffff;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .openChatBox,
  .tagBox {
    border-bottom: 1px #e5e5e5 solid;
  }

  .openChatBox {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 12vh;
    flex-direction: column;
    align-items: center;
  }

  .innerOpenChatBox {
    width: 83vw;
    height: 11vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .openChatText {
    font-size: 1.8vh;
    color: red;
    width: 82vw;
    height: 4.5vh;
  }

  .openChatInput {
    width: 82vw;
    height: 4.5vh;
    font-size: 2vh;
    border: none;
    outline: none;
    padding: 0;
  }

  .tagBox {
    width: 100vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tagInput {
    width: 82vw;
    height: 5vh;
    font-size: 1.8vh;
    border: none;
    outline: none;
  }

  .postConainer {
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 1vh;
  }

  .postBtn {
    width: 82vw;
    height: 6vh;
    background-color: #ff3838;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 2vh;
    font-weight: 600;
  }
}