.wrapper{
    width: 33vw;
    max-width: 180px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    background-color: transparent;
    margin-left: 20px;
    padding: 0px;
    cursor: pointer;
}

.backicon{
    width: 7px;
    height: 15px;
}

.sejongpeerlogo{
    width: 34px;
    height: 20px;
}
.sejongpeertext{
    width: 86px;
    height: 20px;
    margin-left: 7px;
}