/* 데스크탑 버전 */
@media (min-width: 768px) {
  .header {
    height: 8vh;
    width: 100%;
    background-color: #ff4b4b;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }
  .headerNone {
    display: none;
  }
}
/* 모바일 버전 */
@media (max-width: 768px) {
  .header {
    height: 7vh;
    width: 100%;
    background-color: #ff4b4b;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
  }
  .headerNone {
    display: none;
  }
}
