.header {
    height: 5vh;
    width: 100%;
    background-color: #FAFAFA;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.headerNone{display: none;}