.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.wrapperLeft {
  width: 45%;
  padding-top: 20px;
  text-align: left;
  margin-left: 10px;
}
.left {
  width: 127px;
  height: 32px;
}
.text {
  font-size: 14px;
  color: #666666;
  font-weight: 600;
  margin: 10px 0px;
}

.wrapperRight {
  width: 184px;
  height: 184px;
}
.right {
  width: 176px;
  height: 176px;
  margin-top: 36px;
}
