.container{
    display: flex;
    width: 100%;
    height: 100%;
}

.wrapperLeft{
    width: 45%;
    padding-top: 20px;
    text-align: left;
    margin-left: 10px;
}
.left{
    width: 144px;
    height: 28px;
}
.text{
    font-size: 14px;
    color: #666666;
    font-weight: 700;
    margin: 10px 0px;
}

.wrapperRight{
    width: 55%;
}
.right{
    width: 152px;
    height: 150px;
    margin-top: 58px;
}
.ready{
    position: relative;
}
.img1{
    width: 100%;
    height: 100%;
    position: absolute;
}
.img2{
    width: 102%;
    height: 100%;
    position: inherit;
}