@media (min-width: 768px) {
  .container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vh;
    background-color: #fafafa;
  }

  .btn {
    margin-top: 112px;
    border: none;
    background-color: #ffffff;
    width: 335px;
    height: 216px;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
  }

  .more {
    font-size: 20px;
    font-weight: bold;
    width: 335px;
    height: 56px;
    margin: 8px;
    padding: 14px 20px;
    border-radius: 40px;
    background-color: #ff3838;
    border: none;
    color: white;
    margin-top: 20px;
  }

  .footer {
    width: 100%;
    height: 3vh;
    position: relative;
    top: 23%;
    padding: 0px 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .report_user_box {
    display: flex;
    align-items: center;
    width: 47%;
    gap: 3%;
    font-size: 0.9rem;
    color: #333333;
    font-weight: 700;
    margin-top: 2vh;
    margin-left: auto;
  }
  .report_user_box img {
    width: 70%;
    height: 70%;
  }
  .reprot_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ftxt {
    font-size: 12px;
    color: #999999;
    text-align: center;
    text-decoration-line: none;
  }
}

/* 모바일 css */
@media (max-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3vh;
    position: relative;
    top: 23%;
    padding: 0 3vw;
  }
  .container {
    width: 100%;
    height: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    background-color: #fafafa;
  }
  .btn {
    margin-top: 112px;
    border: none;
    background-color: #ffffff;
    width: 335px;
    height: 216px;
    border-radius: 24px;
    border: 1px solid #e5e5e5;
    margin-top: 12px;
    cursor: pointer;
  }

  .more {
    font-size: 20px;
    font-weight: bold;
    width: 335px;
    height: 56px;
    margin: 8px;
    padding: 14px 20px;
    border-radius: 40px;
    background-color: #ff3838;
    border: none;
    color: white;
    margin-top: 20px;
  }
  .report_user_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    font-size: 0.8rem;
    color: #333333;
    font-weight: 700;
    margin-top: 5vh;
  }
  .report_user_box img {
    width: 70%;
    height: 70%;
  }
  .reprot_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ftxtBox {
    width: 100%;
    margin-left: 5vw;
  }
  .ftxt {
    font-size: 12px;
    color: #999999;
    text-align: center;
    text-decoration-line: none;
  }
}

@media (max-width: 376px) {
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 3vh;
    position: relative;
    padding: 0 3vw;
    top: 5%;
  }
}