.progressBarWrapper {
  height: 6%;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  z-index: 2;
  align-items: center;
}
.test {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
@media (min-width: 420px) {
  .test {
    display: flex;
    width: 414px;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
  }
}

@media (max-height: 670px) {
  .progressBarWrapper {
    height: 7.5%;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

.controllerWrapper {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.nextController {
  height: 4vh;
  width: 15vw;
  margin: 3vw;
  border: 1px solid #4f41de;
  border-radius: 25px;
  background-color: #4f41de;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
}
.nextNonController {
  height: 4vh;
  width: 17vw;
  margin: 3vw;
  border: 1px solid #4f41de;
  border-radius: 25px;
  background-color: #4f41de;
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  cursor: pointer;
  opacity: 0.5;
}
.prevController {
  height: 4vh;
  width: 17vw;
  margin: 3vw;
  border: 2px solid #4f41de;
  border-radius: 25px;
  background-color: transparent;
  font-size: 0.9rem;
  font-weight: bold;
  color: #333333;
  cursor: pointer;
}

.submitBtn {
  height: 32px;
  width: 52px;
  margin: 0px 20px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #ff3838;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

.barWrapper {
  width: 100%;
  height: 4px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  align-items: center;
}
.progress {
  width: 32vw;
  max-width: 124px;
  height: 100%;
  background-color: #ccc;
}
