.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  max-width: 415px;
  justify-content: space-between;
  background-color: #fafafa;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 75%;
  justify-content: center;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn1 {
  font-size: 20px;
  font-weight: 700;
  width: 335px;
  height: 56px;
  margin: 8px;
  border-radius: 40px;
  background-color: #ff4b4b;
  border: none;
  color: white;
  cursor: pointer;
}
.btn2 {
  font-size: 18px;
  font-weight: 700;
  width: 335px;
  height: 52px;
  margin: 8px;
  border-radius: 40px;
  background-color: #ff4b4b;
  border: none;
  color: white;
  cursor: pointer;
}
@font-face {
  font-family: 'omyupretty';
  src: url(../../fonts/omyu\ pretty.ttf);
}
@font-face {
  font-family: 'jalnan';
  src: url(../../fonts/Jalnan2.otf);
}
.inform_con{
  width: 100%;
  display: flex;
}
.informBtn {
  margin-right: 1vw;
  border-radius: 24px;
  width: 20vh;
  height: 5vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vh;
  border: 2px solid #E5E5E5;
  background-color: transparent;
  margin-left: auto;
  position: absolute;
  top: 10%;
  right: 5%;
}

.informImg {
  background-image: url("../../../Assets/warningLogo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 3vh;
  height: 3vh;
  margin-left: 0.5vw;
}

.buddyImg {
  width: 62vw;
  max-width: 247px;
  height: 22vh;
  max-height: 178px;
  margin: 5%;
}
.buddyImg2 {
  width: 70vw;
  height: 17vh;
  max-width: 271px;
  max-height: 132px;
}
.imgBack {
  width: 85%;
  height: 50%;
  max-width: 335px;
  max-height: 216px;
  border-radius: 50%;
  background-color: #fff7f7;
  margin: 5% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.explain {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0;
  font-family: 'omyupretty';
}
.sejongbuddy {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  font-family: 'jalnan';
  color: #ff4b4b;
  margin-top: 3%;
}

.text {
  font-size: 1.1rem;
  font-weight: 700;
  color: #333333;
  margin: 4% 0;
}
.text_red {
  font-size: 1.1rem;
  font-weight: 700;
  color: #ff4b4b;
}
.text2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: #555555;
  margin: 4% 0;
  line-height: 160%;
}

.wrapper {
  width: 80vw;
  max-width: 300px;
}
.title {
  font-size: 24px;
  color: #111111;
  font-weight: 800;
  margin: 4% 0;
}

.back {
  font-size: 16px;
  font-weight: 600;
  color: #999999;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
