/* src/components/ConfirmModal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancelButton,
.confirmButton {
  padding: 10px 40px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

.cancelButton {
  background-color: #ddd;
  margin-right: 10px;
}

.confirmButton {
  background-color: #ff4b4b;
  color: white;
}
