/* 데스크탑 */
@media (min-width: 768px) {
  .container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .innerConatiner {
    width: 674px;
    height: auto;
    background-color: #fff7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 39vh;
  }

  .contentContainer {
    width: 674px;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .postConainer {
    width: 674px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }

  .postBtn {
    width: 674px;
    height: 52px;
    background-color: #ff4b4b;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 18;
    font-weight: 700;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  .container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .innerConatiner {
    width: 100vw;
    height: auto;
    background-color: #fff7f7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
  }

  .contentContainer {
    width: 100vw;
    height: auto;
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .postConainer {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* position: fixed; */
    bottom: 0%;
  }

  .postBtn {
    width: 343px;
    height: 52px;
    background-color: #ff4b4b;
    text-align: center;
    color: #ffffff;
    border: none;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 700;
  }
}
