.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  background-color: #fafafa;
}
.TextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
}
.Text1 {
  font-size: 3vh;
  color: #4f41de;
  font-weight: bold;
  margin: 0;
}
.Text2 {
  text-align: center;
  color: #666666;
}
.Text2_span1{
  color:#4f41de;
}
.Text2_span2{
  font-weight:600;
}
.Text3{
  font-weight: 700;
}
.BtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.moveToHomeBtn {
  font-size: 2vh;
  font-weight: 700;
  width: 38vh;
  height: 5.5vh;
  margin: 8px;
  border-radius: 40px;
  background-color: #4f41de;
  border: none;
  color: white;
  cursor: pointer;
}
.cancelBtn {
  font-size: 2vh;
  font-weight: 700;
  color: #999999;
  background-color: transparent;
}
.honbobWaitingImg{
  width:32vh;
  height:32vh;
  background-color: #FAFAFA;
}

