.container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 85%;
  justify-content: space-between;
  background-color: #fafafa;
}

.TextBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;
  margin-top: 4vh;
}

.Text1 {
  font-size: 3vh;
  color: #FF4B4B;
  font-weight: bold;
  margin: 0;
}

.Text2 {
  text-align: center;
  color: #666666;
}

.Text2_span1 {
  color: #FF4B4B;
}

.Text2_span2 {
  font-weight: 600;
}

.Text3 {
  font-weight: 600;
  color: #FF4B4B;
}

.BtnBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moveToHomeBtn {
  font-size: 2vh;
  font-weight: 700;
  width: 42vh;
  height: 8.5vh;
  max-height: 56px;
  margin: 8px;
  border-radius: 40px;
  background-color: #FF4B4B;
  border: none;
  color: white;
  cursor: pointer;
}

.cancelBtn {
  font-size: 2vh;
  font-weight: 700;
  color: #999999;
  background-color: transparent;
  cursor: pointer;
}

.honbobWaitingImg {
  width: 27dvh;
  height: 30vh;
  background-color: #FAFAFA;
  margin-bottom: 2vh;
}