.wrapper {
  display: grid;
  height: 100%;
  overflow: hidden;
  margin: auto;
  color: #333333;
  background-color: #fafafa;
}
.fixed {
  position: fixed;
}

@media (min-width: 414px) {
  .wrapper {
    display: grid;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }
  .fixed {
    position: fixed;
  }
  .absolute {
    position: absolute;
  }
}

@media (min-width: 768px) {
  main {
    height: 100%;
    overflow-y: scroll;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  main {
    height: 100%;
    overflow-y: scroll;
    background-color: z;
    /* display: flex; */
    /* justify-content: center; */
  }
}

@font-face {
  font-family:
    'Pretendard Std Variable',
    'Pretendard Std',
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    'Helvetica Neue',
    'Segoe UI',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;
  src: url('./assets/Pretendard-Black.woff');
}
