.wrapper {
  display: grid;
  height: 100%;
  overflow: hidden;
  margin: auto;
  color: #333333;
  background-color: #fafafa;
}
.fixed {
  position: fixed;
}

@media (min-width: 414px) {
  .wrapper {
    display: grid;
    height: 100%;
    overflow: hidden;
    margin: auto;
  }
  .fixed {
    position: fixed;
  }
  .absolute {
    position: absolute;
  }
}

main {
  height: 100%;
  overflow-y: scroll;
  background-color: #fafafa;
}

@font-face {
  font-family: "Pretendard Std Variable", "Pretendard Std", Pretendard,
    -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue",
    "Segoe UI", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  src: url("./Assets/Pretendard-Black.woff");
}
